<% meta title: "Team Dashboard", description: "Track Minutes. Get stronger." %>
<h2 class="inline" id="dashboard-header">Minutes Tracker | <%= @subdomain %></h2>
<%= link_to "Add Minutes", log_pushup_path, class: "btn btn-primary inline" %><br><br>
<%= render 'dashboard/team/boxes' %>
<%= render 'dashboard/team/line_graph' %>
<%= render 'dashboard/team/bar_chart' %>
<%= render 'dashboard/team/comparison_chart' %>
