<%= simple_form_for(@pushup) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.input :amount, label: false, required: true, placeholder: "amount", input_html: {type: "tel", autocomplete: "off"} %>
		<%= f.input :date, as: "string", label: false, required: true, input_html: {id: "dp", class: "datepicker"} %>
  </div>

  <div class="form-actions">
		<input type="submit" value="Log" class='btn btn-primary' %>
    <% if current_user.pushups.count > 0 %>
      <%= link_to "Back to Dashboard", dashboard_path, class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker('setDate', new Date());
    $('#dp').on('change', function(){
    $('.datepicker-dropdown').hide();
    });
  });
</script>
