<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Calories Burned*</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
	<% @pushups.each do |pushup| %>
		<tr>
			<td><%= pushup.amount %></td>
			<td><%= calorie_burned(pushup.amount) %></td>
			<td class="log_time"><%= pushup.date.strftime("%b %d, %Y %H:%M:%S") %></td>
			<td><%= link_to "Edit", edit_pushup_path(pushup) %></td>
			<td><%= link_to "Destroy", pushup_path(pushup), method: :delete %></td>
		</tr>
	<% end %>
	<%= will_paginate(@pushups) %>
  </tbody>
</table>

<script>
	$(function() {
		const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "August", "September", "October", "November", "December"];

		$('.log_time').each(function(idx, obj) {
			var old_date_str = obj.innerHTML + ' GMT';
			var date = new Date(Date.parse(old_date_str));
			var new_date_str = `${monthNames[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}`;
			obj.innerHTML = new_date_str;
		});
	});
</script>
