<% meta title: "Dashboard", description: "Track Minutes. Get stronger." %>
<h2 class="inline" id="dashboard-header">Pushup Tracker</h2>
<%= link_to "Log Minutes", log_pushup_path, class: "btn btn-primary inline" %>
<%= link_to "View History", history_path, class: "btn btn-default inline" %><br><br>
<%= render 'dashboard/boxes' %>
<%= render 'dashboard/line_graph' %>
<%= render 'dashboard/bar_chart' %>
<%= render 'dashboard/comparison_chart' %>
