<div class="col-md-12">
	<div class="col-md-6">
    <div class="d-flex">
        <div class="dropdown w-auto col-md-4">
          <select name="trailing" id="selected-Trailing">
            <option value="90">Trailing 90 Days</option>
            <option value="28">Trailing 28 Days</option>
            <option value="7">Trailing 7 Days</option>
          </select>
        </div>
        <button class="btn-primary" onclick="myFunction()" class="dropbtn">Dropdown</button>
    </div>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Athlete</th>
        <th>Total Minutes</th>
        <th>Country</th>
        <th>Age</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
  	<% @leaders.each_with_index do |leader, idx| %>

  		<tr>
        <td><%= idx + 1 %></td>
  			<td><%= public_avatar(leader) %> <%= leader['name'] %></td>
        <td><%= leader['total_pushup'] %></td>
        <td><%= leader['country'] %></td>
        <td><%= calculate_age(leader['age']&.to_date) %></td>
        <td><%= User.genders.key(leader['gender']) %></td>
  		</tr>
  	<% end %>
    </tbody>
  </table>

	</div>
</div>
