<div class="col-md-12">
	<div class="col-md-6">
    <div class="d-flex">
    	<h1>Leaderboard</h1><p>(Trailing <%=@trailing_val%> days)</p><br>
        <div class="dropdown w-auto col-md-4">
          <select name="trailing" id="selected-Trailing">
            <option value="90">Trailing 90 Days</option>
            <option value="28">Trailing 28 Days</option>
            <option value="7">Trailing 7 Days</option>
          </select>
        </div>
        <button class="btn-primary dropbtn" id="change-leaderboard">Dropdown</button>
    </div>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Athlete</th>
        <th>Total Minutes</th>
        <th>Country</th>
        <th>Age</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
  	<% @leaders&.each_with_index do |leader, idx| %>

  		<tr>
        <td><%= idx + 1 %></td>
  			<td><%= public_avatar(leader) %> <%= leader['name'] %></td>
        <td><%= leader['total_pushup'] %></td>
        <td><%= leader['country'] %></td>
        <%- if leader['show_age']== true %>
          <td><%= calculate_age(leader['age']&.to_date) %></td>
        <%- else %>
          <td> </td>
        <%- end%>
        <%- if leader['show_gender'] == true %>
          <td><%= User.genders.key(leader['gender']) %></td>
        <%- else %>
          <td> </td>
        <%- end%>
  		</tr>
  	<% end %>
    </tbody>
  </table>
  <%- if @trailing_val.present? %>
    <input class="hidden d-none" id="hidden-trailing" value='<%= @trailing_val %>' >
  <% end %>
	</div>
</div>
