<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<div class="col-md-12">
		<h1>Edit Account</h2>
		<div class="col-md-12">
			<%= gravatar_tag current_user.email, size: 100 %>
		</div>
		<div class="col-md-4">
		<%= f.error_notification %>
			<div class="form-group">
				<label>PeloMetrics Handle</label>
				<%= f.input :name,label: false, required: false, autofocus: true %>
			</div>
				<div class="form-group">
					<label>*Email</label>
					<%= f.input :email, required: true, label: false, autofocus: false %>
			</div>
			<div class="form-group">
				<label>Date of Birth</label>
				<%= f.date_field :age, label: "Age", label: true, value: @current_user&.age, required: true, class: "date-field form-control" %>
			</div>
				<div class="form-group">
					<%= f.check_box :show_age, label: false, required: false %>
				<span>I want to show my age on the leaderboard.</span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>*New Password</label>
				<%= f.input :password, autocomplete: "off",label: false , placeholder: "leave blank if you don't want to change it", required: false %>
			</div>
			<div class="form-group">
				<label>*Current Password</label>
				<%= f.input :current_password, label: false, hint: "we need your current password to confirm your changes", required: true %>
			</div>
			<div class="form-group">
				<%= f.check_box :show_gender, label: false, required: false %>
				<span>I want to show my gender on the leaderboard.</span>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4">
			<div class="form-inline">
				<%= f.button :submit, value: "Update", class: "btn btn-primary" %>
				<%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-default" %>
			</div>
		</div>
		<div class="col-md-12">
			<p>
  			We hate to see you go.
  			<%= link_to "Delete my account",       registration_path(current_user),
      data: { confirm: "Are you sure?" },
      method: :delete %>.
			</p>
		</div>
	</div>
<% end %>
