<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>

  <h2 class="text-center">Sign Up</h2>
  <%= f.error_notification %>
  <% if f.object.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <%- end %>
      </ul>
    </div>
  <%- end%>
  <div class="form-inputs signup">
    <%= f.input :name, label: false, placeholder: "Name", required: true, autofocus: true %>
    <%= f.input :email, label: false, placeholder: "Email",  required: true, autofocus: false %>
    <%= f.input :password, label: false, placeholder: "Password", required: true %>
    <%= f.date_field :age, label: false, placeholder: "Age(Optional)", required: false, class: "form-control date-field" %>
    <div class="margin-bottom"><%= f.country_select :country, as: :select, label: true, class: "margin-bottom",  placeholder: "Please select your Country",:include_blank => false , required: true, class: "margin-bottom"%></div>
    <div class="margin-bottom"><%= f.select :gender, User.genders.keys, required: true, class: "form-control date-field margin-bottom" %></div>
    <div>
      <%= f.check_box :terms_and_conditions, required: true %>I agree with the
      <%= link_to 'terms and conditions.', '#',  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#tosModal', class: 'nav-link'} %>
      <%= render 'shared/terms_and_conditions_modal' %>
    </div>
    <div>
      <%= f.check_box :privacy_policy, required: true %>I agree with the
      <%= link_to 'privacy policy.', '#',  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#privacy_policy_Modal', class: 'nav-link'} %>
      <%= render 'shared/privacy_policy_modal' %>
    </div>


    <div class="margin-bottom" ><%= f.check_box :hide_profile %>Hide my profile from the leaderboard.</div>
    <!-- phone number input not working  -->
    <!-- <%= f.simple_fields_for :reminders do |r| %>
      <%= r.input :phone_number, required: false, label: false, hint: "Daily SMS reminders to do your pushups.", placeholder: "Mobile Number (optional)" %>
    <% end %> -->
  </div>

<!-- Submit -->
  <div class="form-inline">
    <input type="submit" value="Sign up" class="btn btn-primary" onclick="onSignup()"%>
    <%= link_to "Go Back", root_path, class: "btn btn-default" %>
  </div>

<% end %>

<script>
// Tooltip
  $('[data-toggle="tooltip"]').tooltip({
    container: 'body'
    });
</script>

<!-- Global site tag (gtag.js) - Google Ads: 1070854110 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1070854110"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-1070854110');
</script>

<!-- Event snippet for Sign Up conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
      'send_to': 'AW-1070854110/ARfrCM2C38kBEN7fz_4D',
      'transaction_id': '',
      'event_callback': callback
    });
    return false;
  }

  function onSignup() {
    gtag_report_conversion();
    $('form').submit();
  }
</script>
