<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>

  <h2 class="text-center">Sign Up</h2>
  <%= f.error_notification %>

  <div class="form-inputs signup">
    <%= f.input :name, label: false, placeholder: "Name", required: true, autofocus: true %>
    <%= f.input :email, label: false, placeholder: "Email",  required: true, autofocus: false %>
    <%= f.input :password, label: false, placeholder: "Password", required: true %>
    <%= f.input :age, label: false, placeholder: "Age", required: false %>
    <%= f.country_select :country, as: :select, label: false,  placeholder: "Please select your Country",:include_blank => false , required: true %>
    <!-- phone number input not working  -->
    <!-- <%= f.simple_fields_for :reminders do |r| %>
      <%= r.input :phone_number, required: false, label: false, hint: "Daily SMS reminders to do your pushups.", placeholder: "Mobile Number (optional)" %>
    <% end %> -->
  </div>

<!-- Submit -->
  <div class="form-inline">
    <input type="submit" value="Sign up" class="btn btn-primary" onclick="onSignup()"%>
    <%= link_to "Go Back", root_path, class: "btn btn-default" %>
  </div>

<% end %>

<script>
// Tooltip
  $('[data-toggle="tooltip"]').tooltip({
    container: 'body'
    });
</script>

<!-- Global site tag (gtag.js) - Google Ads: 1070854110 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1070854110"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-1070854110');
</script>

<!-- Event snippet for Sign Up conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
      'send_to': 'AW-1070854110/ARfrCM2C38kBEN7fz_4D',
      'transaction_id': '',
      'event_callback': callback
    });
    return false;
  }

  function onSignup() {
    gtag_report_conversion();
    $('form').submit();
  }
</script>
