<div class="col-md-6">
  <div class="row">
	  <div class="hr-divider">
	    <h2 class="hr-divider-content hr-divider-heading">Monthly Report</h2>
	  </div><br>
	  <div class="col-md-12">
	    <div><canvas
	      class="ex-line-graph"
	      data-chart="bar"
				data-scale-start-value= <%= pushups_last_month(@pushups) / 2 %>
				data-scale-step-width= <%= pushups_this_month(@pushups) / 4 %>
				data-scale-steps= 3
	      data-scale-line-color="transparent"
	      data-scale-grid-line-color="rgba(255,255,255,.05)"
	      data-scale-font-color="#a2a2a2"
	      data-labels="['<%= (Time.now.beginning_of_month - 1.day).beginning_of_month.strftime("%B") %>','<%= Date.today.strftime("%B") %>']"
	      data-value="[{ label: 'First dataset', data: [<%= pushups_last_month(@pushups) %>, <%= pushups_this_month(@pushups) %>], fillColor: '#1bc98e' }]"></canvas>
	    </div>
	  </div>
  </div>
</div>
