<p id="notice"><%= notice %></p>

<p>
  <strong>Phone number:</strong>
  <%= @reminder.phone_number %>
</p>

<p>
  <strong>Time:</strong>
  <%= @reminder.time %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
