<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header-collapse" role="navigation">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to image_tag("pushup_tracker.png", style: 'width: 75px'), root_path, :class => 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse" data-toggle="Collapse" data-target=".navbar-collapse">
      <% if current_user %>
      <ul class="nav navbar-nav navbar-right" id="navigation-icons">
        <li><span class="icon icon-gauge"></span><%= link_to "Dashboard", dashboard_path %></li>
        <% if current_user[:email] == 'murray_ben@yahoo.com' %>
          <li><span class="icon icon-gauge"></span><%= link_to "OwnerPanel", owner_index_path %></li>
        <% end %>
    	<% if user_has_team? %>
        <li><span class="icon icon-users"></span><%= link_to "Team", teams_path %></li>
    	<% end %>
        <li><span class="icon icon-calendar"></span><%= link_to "History", history_path %></li>
        <li><span class="icon icon-bell"></span><%= reminder_link(current_user) %></li>
        <li><span class="icon icon-bar-graph"></span><%= link_to "Leaderboard", leaderboard_index_path %></li>
        <li><span class="icon icon-cog"></span><%= link_to "Settings", settings_path %></li>
        <li><span class="icon icon-log-out"></span><%= link_to "Logout", logout_path, method: :delete %></li>
        </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Leaderboard", leaderboard_index_path %></li>
        <li><%= link_to "Login", login_path, class: "btn btn-default" %></li>
        </ul>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
