<!DOCTYPE html>
<html>
<head>
  <%= metamagic site: "Minutes Tracker", title: [:site, :title], separator: " | " %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js", 'data-turbolinks-track' => 'reload', :defer => "defer"%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>
  <div class="container">
  <div class="col-md-12 alert alert-danger"><p>This is an unofficial site, not officially affiliated with Peloton</p></div>
    <%= yield %>
  </div>
</body>
<footer>
  <%= render "shared/footer" %>
</footer>
</html>
